<% if @cat.errors.any?  %>
  <% @cat.errors.full_messages.each do |msg| %>
  <div class="form-error">
    <%= msg %>
  </div>
  <% end %>
<% end %>


<%= form_for @cat do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :breed %>
    <%= f.text_field :breed %>
  </div>
  <div>
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>
  <div>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %> 